# Data Science Tools and Ecosystme

In this notebook, Data Science Tools and Ecosystme are summarized.

**Objectives:**

- List popular programming languages used in Data Science.
- List popular programming libraries used in Data Science.
- List popular Tools used in Data Science.

Some of the popular languages that Data Scientists use are:
 1. Python
 2. SQL
 3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-learn

| Data Science Tools |
|----------|
|  Jupyter Notebook   |
|  RStudio   |
|  Spyder   |

### Below are a few examples of evaluting arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author
Jay